<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Burgerama.Common.Configuration" version="0.2.1" targetFramework="net451" />
  <package id="Burgerama.Common.DataAccess.MongoDB" version="0.2.0" targetFramework="net451" />
  <package id="Burgerama.Messaging.Events" version="0.2.0" targetFramework="net451" />
  <package id="Burgerama.Shared.Candidates.Domain" version="0.2.0" targetFramework="net451" />
  <package id="mongocsharpdriver" version="1.9.1" targetFramework="net451" />
</packages>