<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="security:isHttpsRedirectionEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="url:frontend" value="https://burgerama.azurewebsites.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="url:api" value="https://{service}-api-burgerama.azurewebsites.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>