<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.0" targetFramework="net451" />
  <package id="Burgerama.Common.Configuration" version="0.2.1" targetFramework="net451" />
  <package id="Burgerama.Common.DataAccess.MongoDB" version="0.2.0" targetFramework="net451" />
  <package id="Burgerama.Common.DataAccess.Rest" version="0.2.0" targetFramework="net451" />
  <package id="Burgerama.Common.Logging" version="0.2.0" targetFramework="net451" />
  <package id="Burgerama.Messaging.Commands" version="0.2.0" targetFramework="net451" />
  <package id="Burgerama.Messaging.Commands.Outings" version="0.2.0" targetFramework="net451" />
  <package id="Burgerama.Messaging.Endpoint.Host" version="0.2.1" targetFramework="net451" />
  <package id="Burgerama.Messaging.Events" version="0.2.0" targetFramework="net451" />
  <package id="Burgerama.Messaging.Events.Outings" version="0.2.0" targetFramework="net451" />
  <package id="Burgerama.Messaging.MassTransit" version="0.2.0" targetFramework="net451" />
  <package id="Burgerama.Messaging.MassTransit.Events" version="0.2.1" targetFramework="net451" />
  <package id="Magnum" version="2.1.2" targetFramework="net451" />
  <package id="MassTransit" version="2.9.5" targetFramework="net451" />
  <package id="MassTransit.Autofac" version="2.9.5" targetFramework="net451" />
  <package id="MassTransit.RabbitMQ" version="2.9.5" targetFramework="net451" />
  <package id="MassTransit.SerilogIntegration" version="1.4.0" targetFramework="net451" />
  <package id="mongocsharpdriver" version="1.9.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net451" />
  <package id="RabbitMQ.Client" version="3.3.2" targetFramework="net451" />
  <package id="RestSharp" version="104.4.0" targetFramework="net451" />
  <package id="Serilog" version="1.3.30" targetFramework="net451" />
  <package id="Serilog.Extras.Topshelf" version="1.3.30" targetFramework="net451" />
  <package id="Serilog.Sinks.Logentries" version="1.3.30" targetFramework="net451" />
  <package id="Topshelf" version="3.1.3" targetFramework="net451" />
  <package id="Topshelf.Linux" version="1.0.7.7" targetFramework="net451" />
</packages>