<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="burgerama.service" type="Burgerama.Common.Configuration.ServiceConfiguration, Burgerama.Common.Configuration" />
  </configSections>

  <burgerama.service key="voting.tests">
    <!-- <mongoDb hidden for privacy /> -->
    <!-- <auth0 hidden for privacy /> -->
  </burgerama.service>
</configuration>