<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="burgerama">
      <section name="service" type="Burgerama.Common.Configuration.ServiceConfiguration, Burgerama.Common.Configuration" />
      <section name="mongoDb" type="Burgerama.Common.Configuration.MongoDbConfiguration, Burgerama.Common.Configuration" />
    </sectionGroup>
  </configSections>

  <burgerama>
    <service key="voting.tests" />
    <mongoDb configSource="Config\MongoDb.confidential.config" />
  </burgerama>
</configuration>