<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="burgerama" type="Burgerama.Common.Configuration.BurgeramaConfiguration, Burgerama.Common.Configuration" />
    <section name="database" type="Burgerama.Common.Configuration.Data.MongoDbConfiguration, Burgerama.Common.Configuration" />
  </configSections>

  <burgerama serviceKey="voting.test" />

  <database name="burgerama_dev" connectionString="nope" />
</configuration>