<div id="map-space" class="workspace">
    <input id="map-search-box" type="text" placeholder="yo, type your g here" />
    <div id="badge-container">
        <img src="~/Content/img/profile.jpg" alt="Cartman Burger" />
    </div>
    <div id="logo-container">
        <img src="~/Content/img/hamburger_logo.png" alt="@ViewBag.Title" />
        <span>@ViewBag.Title</span>
    </div>
    
    <div id="information-box"></div>
</div>
<div id="map-canvas"></div>
<div id="organizer-space" class="workspace">
    <img id="venue-icon" src="~/Content/img/venue_icon.png" />
    <img id="calendar-icon" src="~/Content/img/calendar_icon.png" />
    <ul id="venue-list">
        <li><span>Burger and Lobster</span></li>
        <li><span>MEATmarket</span></li>
        <li><span>Haché</span></li>
        <li><span>Costa</span></li>
        <li><span>MEATliquor</span></li>
        <li><span>BRGR</span></li>
        <li><span>GBK</span></li>
        <li><span>Byron</span></li>
        <li><span>Burger King</span></li>
        <li><span>Burger Beartom</span></li>
        <li><span>Ed's Easy Diner</span></li>
        <li><span>Kua-aina</span></li>
        <li><span>Wasabi</span></li>
        <li><span>Honest Burgers</span></li>
        <li><span>Grand Union Bars</span></li>
        <li><span>Bukowski Grill</span></li>
        <li><span>Forlino</span></li>
        <li><span>Jollibee</span></li>
    </ul>
</div>