<input id="central-search-box" type="text" />
<div id="logo-container">
    <img src="~/Content/img/hamburger_logo.png" />
    <span>Burgerama</span>
</div>
<div id="map-canvas"></div>
<div id="information-box"></div>