<toaster-container toaster-options="{'position-class': 'toast-top-left', 'time-out': 2500}"></toaster-container>

<section id="map-space" class="workspace">
    <input id="map-search-box" type="text" placeholder="yo, type your g here" />
    <div id="information-box"></div>
    <img id="venue-marker" class="draggable" src="~/Content/img/venue_marker.png" />
</section>

<section id="map" ng-controller="MapController">
    <div id="map-canvas" ui-map="map" ui-options="mapOptions"
         ui-event="{'map-zoom_changed': 'setZoomMessage(map.getZoom())' }"></div>
</section>

<section id="organizer-space" class="workspace">
    <div id="organizer-switcher">
        <img id="venue-icon" class="switcher-icon switcher-icon-active" src="~/Content/img/venue_icon.png" />
        <img id="calendar-icon" class="switcher-icon" src="~/Content/img/calendar_icon.png" />
        <img id="settings-icon" class="switcher-icon" src="~/Content/img/settings_icon.png" />
    </div>

    <div ng-view></div>

    <div ng-controller="AccountController" style="margin: 15px;">
        <div id="badge-container" ng-show="signedIn">
            <img ng-src="{{ user.picture }}" alt="{{ user.nickname }}" />
        </div>

        <p ng-show="signedIn" style="color:#efefef">You are signed in as {{ user.email }}.</p>
        <p><button type="button" class="btn btn-default" ng-hide="signedIn" ng-click="showSignInModal();"><span class="glyphicon glyphicon-log-in"></span> Sign in</button></p>
        <p><button type="button" class="btn btn-default" ng-show="signedIn" ng-click="signOut();"><span class="glyphicon glyphicon-log-out"></span> Sign out</button></p>
    </div>

    <div ng-controller="VenueController">
        <ul id="venue-list" ng-repeat="venue in venues">
            <li><span>{{ venue.title }}</span></li>
        </ul>
        <br />
        <p style="margin: 15px;"><button type="button" class="btn btn-default" ng-click="showAddVenueModal();"><span class="glyphicon glyphicon-plus"></span> Add venue</button></p>
    </div>
</section>
