<input id="central-search-box" type="text" placeholder="yo, type your g here" />
<div id="logo-container">
    <img src="~/Content/img/hamburger_logo.png" alt="@ViewBag.Title" />
    <span>@ViewBag.Title</span>
</div>
<div id="map-canvas"></div>
<div id="information-box"></div>