<div class="loading-spinner spin-s" ng-hide="venue != null"></div>
<ul id="venue-list" class="list-group" ng-show="venue != null">
    <li class="row list-group-item">
        <div class="content">
            <h3 class="list-group-item-heading">{{ venue.name }}</h3>
            <p class="list-group-item-text" ng-hide="venue.description == ''">{{ venue.description }}</p>
            <p class="list-group-item-text text-sub text-muted" ng-hide="venue.address == ''">{{ venue.address }}</p>
        </div>
    </li>

    <li class="row list-group-item" ng-show="venue.outings.length > 0">
        <h3 class="list-group-item-heading">
            Ratings summary
            <button type="button" class="btn btn-primary pull-right" ng-click="addRating(venue);" ng-show="ratingCandidate.canUserRate">
                <span class="glyphicon glyphicon-star"></span> Add rating
            </button>
            <button type="button" class="btn btn-success pull-right" ng-show="ratingCandidate.userRating" disabled="disabled">
                <span class="glyphicon glyphicon-ok"></span> Already rated
            </button>
        </h3>
        <div class="info pull-left">
            <rating-stats ng-model="venue.totalRating" ratings-count="{{ ratingCandidate.ratingsCount }}"></rating-stats>
        </div>
        <div class="content">
            <ul class="star-rating-details">
                <li class="clearfix" ng-repeat="i in [5,4,3,2,1]">
                    <div class="info pull-left text-muted ">
                        <ng-pluralize count="i" when="{'0': 'No star', 'one': '1 star', 'other': '{} stars'}"></ng-pluralize>
                    </div>
                    <div class="content">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ ratingStats[i].percent }}" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (ratingStats[i].percent + '%')}"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </li>

    <li class="row list-group-item">
        <div class="content">
            <h3 class="list-group-item-heading">
                Outing
                <button type="button" class="btn btn-primary pull-right" ng-click="addVote(venue);" ng-show="venue.outings.length == 0 && votingCandidate.canUserVote">
                    Add vote
                </button>
            </h3>
            <div>
                <p ng-show="votingCandidate.votesCount == 0">Nobody has voted for this venue.</p>
                <p ng-show="votingCandidate.votesCount > 0">
                    <ng-pluralize count="votingCandidate.votesCount" when="{'one': 'One person has', 'other': '{} people have'}"></ng-pluralize> voted for this venue:
                </p>
                <ul>
                    <li ng-repeat="vote in votes">{{ vote.userId }} on {{ vote.createdOn | date:'medium' }}</li>
                </ul>
            </div>
            <div ng-show="venue.outings.length == 0">
                <p>There has not been an outing in this venue.</p>
            </div>
            <div ng-show="venue.outings.length != 0">
                <p>There <ng-pluralize count="venue.outings.length" when="{'one': 'has been one outing', 'other': 'have been {} outings'}"></ng-pluralize> in this venue:</p>
                <ul>
                    <li ng-repeat="outing in outings">
                        {{ outing.date | date:'longDate' }}
                    </li>
                </ul>
            </div>
        </div>
    </li>

    <li class="row list-group-item" ng-show="ratings != null">
        <h3 class="list-group-item-heading">
            All {{ ratings.length }} reviews
            <button type="button" class="btn btn-default btn-xs" ng-click="ratingOrder = !ratingOrder">
                <span class="glyphicon glyphicon" ng-class="{'glyphicon-sort-by-order': !ratingOrder, 'glyphicon-sort-by-order-alt': ratingOrder}"></span>
            </button>
            <button type="button" class="btn btn-primary pull-right" ng-click="addRating(venue);" ng-show="candidate.canUserRate">
                <span class="glyphicon glyphicon-pencil"></span> Add review
            </button>
            <button type="button" class="btn btn-success pull-right" ng-show="candidate.userRating" disabled="disabled">
                <span class="glyphicon glyphicon-ok"></span> Already rated
            </button>
        </h3>

        <ul class="star-rating-details-list">
            <li class="clearfix" ng-repeat="rating in ratings | orderBy: 'createdOn': ratingOrder">
                <div class="info pull-left">
                    <rating-stats ng-model="rating.value"></rating-stats>
                </div>
                <div class="content">
                    <p class="review">{{ rating.text }}</p>
                    <p class="author">by {{ rating.userId }}</p>
                    <p class="date">on {{ rating.createdOn | date:'longDate' }}</p>
                </div>
            </li>
        </ul>
    </li>
</ul>
<div class="loading-spinner spin-s" ng-show="venue != null && venue.totalRating != null && ratings == null"></div>
