<div class="loading-spinner spin-s" ng-hide="venue != null"></div>
<ul id="venue-list" ng-show="venue != null" class="list-group">
    <li class="row list-group-item">
        <div class="col-xs-10 text">
            <h4 class="list-group-item-heading">{{ venue.title }}</h4>
            <p class="list-group-item-text" ng-hide="venue.description == ''">{{ venue.description | characters:300 }}</p>
            <p class="list-group-item-text address" ng-hide="venue.address == ''">{{ venue.address }}</p>
        </div>
        <div class="col-xs-2 info">
            <p class="votes">{{ venue.votes }}</p>
            <p><a href ng-click="addVote(venue);">vote</a></p>
        </div>
    </li>
</ul>
