<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Burgerama.Common.Configuration" version="0.2.2" targetFramework="net451" />
  <package id="Burgerama.Common.DataAccess.MongoDB" version="0.2.1" targetFramework="net451" />
  <package id="mongocsharpdriver" version="1.9.2" targetFramework="net451" />
</packages>