@import 'helper-mixins.less';

@default-background-color: rgba(0,0,0,0.7);
@default-shadow-color: @default-background-color;
@default-shadow: 0 0 1.5em @default-shadow-color;
@default-text-color: #fff;

@badge-size: 9em;

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.workspace {
    position: absolute;
    height: 100%;
}

// Google Maps Search Box Styling
#map-canvas {
    height: 100%;
    
    #map-search-box {
        .top-left();
        font-family: sans-serif;
        font-size: 1.5em;
        color: @default-text-color;
        background-color: @default-background-color;
        padding: 0.3em 0.5em 0.3em 0.5em;
        border: 0;
        z-index: 100;
        width: 20em;
        box-shadow: @default-shadow;
    }

    #map-search-box:focus {
        outline: none;
    }
}

// Google Maps Search Result Custom Styling
.pac-container {
    background-color: @default-background-color;

    .pac-item .pac-item-query {
        color: @default-text-color;
    }

    .pac-item:hover .pac-item-query,
    .pac-item-selected .pac-item-query {
        color: #000;
    }
}

// Custom Controls over Maps
#map-space {
    right: 20em;
    left: 0;
  
    // ---------------- Burgerama Logo ----------------
    #logo-container {
        .bottom-right(@right: 0);
        color: @default-text-color;
        background-color: @default-background-color;
        z-index: 200;
        padding: 0.2em 0.4em 0.2em 0.4em;
        font-family: sans-serif;
        font-size: 2.5em;
        text-shadow: 2px 2px 2px #000;
        box-shadow: @default-shadow;

        img {
            width: 1.5em;
        }

        span {
            vertical-align: middle;
        }
    }
    // ---------------- Badge ----------------
    #badge-container {
        .top-right();
        z-index: 200;
        overflow: hidden;
        width: @badge-size;
        border-radius: @badge-size;
        border: 0.75em solid @default-background-color;
        box-shadow: @default-shadow;

        img {
            width: 100%;
            border-radius: @badge-size;
            background-color: #fff;
        }
    }  
}

#organizer-space {
    width: 20em;
    right: 0;
    top: 0;
    background-color: fadein(@default-background-color, 20%);
    box-shadow: @default-shadow;
}

#venue-list {
    margin: 0;
    padding: 0; 
}


@item-background-gradient-color-1: rgba(255,255,255,0.05);
@item-background-gradient-color-2: rgba(0,0,0,0.05);
@item-background: 
    @item-background-gradient-color-1 0%, 
    @item-background-gradient-color-2 40%,
    @item-background-gradient-color-2 60%,
    @item-background-gradient-color-1 100%;

#venue-list li {
    display: block;
    text-decoration: none;
    padding: 0.5em 2em 0.5em 2em;
    border-bottom: 1px solid #000;
    color: @default-text-color;
    font-weight: bold;  
    box-shadow: none;
    .vertical-gradient-background(@color-stops: @item-background);
    .transition(@propertyName: all; @transitionLength: 0.3s; @transitionType: ease-out);
}

#venue-list li:first-child {
    border-top: 1px solid #000;
}


#venue-list li:hover {
    background-color: rgba(255, 0, 0, 0.7);
    box-shadow: inset @default-shadow;
    .transition(@propertyName: all; @transitionLength: 0.3s; @transitionType: ease-in);
}

.switcher-icon {
    width: 2em;
    margin: 2em;
}

#organizer-switcher {
    text-align: center;
}
