<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Burgerama.Messaging.Commands" version="0.1.5" targetFramework="net451" />
  <package id="Magnum" version="2.1.2" targetFramework="net451" />
  <package id="MassTransit" version="2.9.5" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net451" />
</packages>