<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="burgerama">
      <section name="service" type="Burgerama.Common.Configuration.ServiceConfiguration, Burgerama.Common.Configuration" />
    </sectionGroup>
  </configSections>

  <burgerama>
    <service key="outing_scheduler.tests" />
  </burgerama>
</configuration>