<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="burgerama">
      <section name="service" type="Burgerama.Common.Configuration.ServiceConfiguration, Burgerama.Common.Configuration" />
      <section name="mongoDb" type="Burgerama.Common.Configuration.MongoDbConfiguration, Burgerama.Common.Configuration" />
    </sectionGroup>
  </configSections>

  <burgerama>
    <service key="ratings.tests" />
    <mongoDb configSource="Config\MongoDb.confidential.config" />
  </burgerama>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>